// If you want to override variables do it here
@import "variables";

$enable-ltr: false;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";
@import "./bootstrap-rtl.css";

.bglogo{
    font-size: 30px;
}
@font-face {
    font-family: "BYekan";
    src: url("../assets/fonts/BYekan-webfont.eot") format("eot"),
        url("../assets/fonts/BYekan-webfont.woff") format("woff"),
        url("../assets/fonts/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "BYekan" !important;
}